<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Layout</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap-theme.min.css}"/>
</head>
<body>
<div class="container">
    <h1>고객 관리 시스템</h1>
    <p>
        <span sec:authentication="principal.user.username">duke</span>님이 로그인 상태
        <a th:href="@{/logout}" class="btn btn-default btn-xs">로그 아옷</a>
    </p>
    <div layout:fragment="content">
    Fake content
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"
        th:src="@{/webjars/jquery/1.11.3/jquery.min.js}"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.4/js/bootstrap.min.js}"></script>
</body>
</html>